<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="google" content="notranslate">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
   <script src="https://cdn.tailwindcss.com"></script>
   <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="../styles/style.css">
   <link rel="stylesheet" href="../styles/countdown.css">
   <title>Countdown</title>
</head>

<body class="overflow-hidden">

   <section class="relative h-[100vh] w-full flex flex-col justify-between items-center bg-[url('../assets/background.png')] bg-contain bg-repeat overflow-hidden">

      <!-- Spinner text and circle -->
      <img src="../assets/rounded-text.png" alt="Frase giratoria"
      class="spinner-text absolute top-[50px] -left-[75px] h-[150px] w-[150px] hidden
         lg:top-[50px] lg:left-[75px] lg:flex">

      <!-- Modal -->
      <div class="modal-container">
         <div class="modal">
            <img src="../assets/btn-close.png" alt="Boton cerrar" class="absolute">
         </div>
      </div>

      <!-- Photos -->
      <div id="first-pic" class="pic1 -top-64 -right-4 z-10"></div>
      <div id="second-pic" class="pic2 bottom-56 -left-44 rotate-12 z-10"></div>
      <div id="third-pic" class="pic3 -bottom-44 -right-20 z-10"></div>

      <!-- Navbar -->
      <nav class="relative h-[10vh] w-full flex justify-center items-center gap-3 z-50
         lg:items-end">

         <section class="h-12 w-fit flex justify-center items-center col-start-2 col-end-2">
            <div class="w-8 h-8 flex justify-center items-center">
               <a href="../index.html" class="disable-slot" title="first-slide"></a>
            </div>
            <div class="w-8 h-8 flex justify-center items-center">
               <a href="./second.html" class="disable-slot" title="second-slide"></a>
            </div>
            <div class="w-8 h-8 flex justify-center items-center">
               <a href="#" class="active-slot" title="third-slide"></a>
            </div>
         </section>
         <button type="button" title="Regalo"
            class="absolute h-12 w-12 right-0 bg-[url('../assets/icon-close.png')] me-8 bg-contain unselectable z-30
               active:bg-[url('../assets/icon-open.png')]
               lg:me-[75px]">
         </button>

      </nav>

      <!-- Main -->
      <main class="h-[70vh] w-[180vw] flex flex-col justify-center items-center gap-4  group z-30">

         <article id="spinner" class="relative w-full flex flex-col justify-center items-center py-6 h-5/6 z-10">

            <section class="h-[15%] relative flex flex-col justify-end items-center gap-2  z-10">
               <img src="../assets/rounded-text-countdown.png" class="spinner-text absolute h-24 w-24 -left-8 -top-8 z-10" alt="Fecha giratoria"/><div
                  class="w-fit bg-[url('../assets/background.png')] flex flex-col justify-end items-center z-30 py-1 px-2">
                  <div class="bg-white h-12 w-12 rounded-full absolute -top-[10px] -left-[5px] z-30"></div>
                  <img src="../assets/header-tittle.png" alt="title" class="h-[1.2rem] mb-2 relative z-40">
                  <img src="../assets/names.png" alt="names" class="h-[2.2rem] mb-4 relative z-40">
               </div>
            </section>

            <div class="h-[70%] w-full flex flex-col justify-end items-center gap-2 pb-14 z-10">
               <h2 class="mb-4 text-white text-xl
                  lg:text-3xl lg:mb-8">
                  Faltan...
               </h2>
               <!-- Cuenta refresiva -->
               <div class="main-example">
                  <div class="countdown-container" data-timer="2024/03/09" id="main-example"></div>
               </div>
            </div>

            <button id="agendar-btn" type="button"
               class="py-4 px-12 rounded-lg bg-[#5F7752] text-white text-lg button unselectable">
               Agendar
            </button>

         </article>

      </main>

      <!-- Footer -->
      <footer class="h-[15vh] w-full flex justify-center">
         <!-- Background curve -->
         <div class="h-[65vh] w-[150vw] absolute bottom-0 bg-[url('../assets/rounded-background.png')] bg-contain bg-repeat rounded-tl-full rounded-tr-full
               md:w-[120vw] lg:w-[90vw]
            ">
            <!-- md:w-[1200px] md:h-[1200px] md:-bottom-[65%] lg:w-[130vh] lg:h-[130vh] lg:-bottom-[70%] -->
         </div>
      </footer>

   </section>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
   <script type="text/template" id="main-example-template">
      <div class="time <%= label %>">
         <span class="count curr top"><%= curr %></span>
         <span class="count next top"><%= next %></span>
         <span class="count next bottom"><%= next %></span>
         <span class="count curr bottom"><%= curr %></span>
         <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
      </div>
   </script>
   <script src="../scripts/countdown.js"></script>
   <script src="../scripts/third.js"></script>

</body>
</html>