@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --mycream: #EAE8E4;
  --mygray: #404040;
  --mygreen: #5D7551;
  --mybrown: #C49F5F;
}

body{
  background-color: var(--mycream);
}

/* ----------------------------------- */
/* ------------ Animations ------------*/
/* ----------------------------------- */

@keyframes text-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes text-rotation2 {
  0% {
    transform: rotate(0deg);
  }
  15%{
    transform: rotate(60deg);
  }
  16%{
    opacity: 0;
  }
  45%{
    transform: rotate(150deg);
  }
  65%{
    transform: rotate(225deg);
  }
  85%{
    transform: rotate(300deg);
    visibility: visible;
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cirle-rotation {
  0% {
    transform: rotate(-45deg);
    opacity: 0;
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes text-left-to-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes text-right-to-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  75% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes pic-grow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.unselectable{
  user-select: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; /* Safari y Chrome */
  -webkit-user-drag: none !important; /* Safari (puede evitar el resaltado al mover elementos) */
  touch-action: manipulation !important; /* Algunos navegadores más modernos */
}

.spinner-text {
  transform-origin: 50% 50%;
  /*linear infinte running*/
  animation: text-rotation 10s linear infinite;
}

.active-slot {
  border: 3px solid #5d7551;
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
}

.disable-slot {
  height: 12px;
  width: 12px;
  background-color: #c49f5f;
  border-radius: 50%;
}

.disable-slot:hover{
  border: 3px solid #5d7551;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

.circle {
  animation: cirle-rotation 2s ease-in-out;
}

.modal{
  height: 80vh;
  width: 80vw;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 100;
  visibility: hidden;
}

.inner-btn, .btn, .btn:before, .btn:after {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; /* Safari y Chrome */
  -webkit-user-drag: none !important; /* Safari (puede evitar el resaltado al mover elementos) */
  touch-action: manipulation !important; /* Algunos navegadores más modernos */
}

.countdown {
  animation: text-left-to-right 0.7s ease-in-out forwards;
  animation-delay: 1s;
}

.write {
  animation: text-right-to-left 0.7s ease-in-out forwards;
  animation-delay: 1.3s;
}

/* ------------------------------------- */
/* ------------ Pics Section ------------*/
/* ------------------------------------- */

.pic1 {
  height: 35vh;
  width: 210px;
  background-image: url('../assets/img-03.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  transform: rotate(-15deg);
  transition: all 1s ease-in-out;
  animation: 0.4s ease-in-out 1s forwards pic-grow;
}

.pic2 {
  height: 35vh;
  width: 210px;
  background-image: url('../assets/img-01.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  transform: rotate(0);
  transition: all 1s ease-in-out;
  animation: 0.4s ease-in-out 2s forwards pic-grow;
}

.pic3 {
  height: 35vh;
  width: 210px;
  background-image: url('../assets/img-02.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  transform: rotate(15deg);
  transition: all 1s ease-in-out;
  animation: 0.4s ease-in-out 3s forwards pic-grow;
}

/* --------------------------------------- */
/* ------------ Button Agendar ------------*/
/* --------------------------------------- */

.button {
  position: relative;
  padding: 8px 25px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #5D7551 !important;
  transition: all 0.2s ease;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; /* Safari y Chrome */
  -webkit-user-drag: none !important; /* Safari (puede evitar el resaltado al mover elementos) */
  touch-action: manipulation !important; /* Algunos navegadores más modernos */
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, var(--mygreen) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--mygreen) 20%, transparent 30%),
    radial-gradient(circle, var(--mygreen) 20%, transparent 20%),
    radial-gradient(circle, var(--mygreen) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--mygreen) 15%, transparent 20%),
    radial-gradient(circle, var(--mygreen) 20%, transparent 20%),
    radial-gradient(circle, var(--mygreen) 20%, transparent 20%),
    radial-gradient(circle, var(--mygreen) 20%, transparent 20%),
    radial-gradient(circle, var(--mygreen) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, var(--mygreen) 20%, transparent 20%),
    radial-gradient(circle, var(--mygreen) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--mygreen) 15%, transparent 20%),
    radial-gradient(circle, var(--mygreen) 20%, transparent 20%),
    radial-gradient(circle, var(--mygreen) 20%, transparent 20%),
    radial-gradient(circle, var(--mygreen) 20%, transparent 20%),
    radial-gradient(circle, var(--mygreen) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

a {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; /* Safari y Chrome */
  -webkit-user-drag: none !important; /* Safari (puede evitar el resaltado al mover elementos) */
  touch-action: manipulation !important; /* Algunos navegadores más modernos */
}

/* -------------------------------------- */
/* ------------ Media Queries ------------*/
/* -------------------------------------- */

@media screen and (min-width: 1024px){
  .pic1 {
    height: 390px;
    width: 270px;
  }
  
  .pic2 {
    height: 390px;
    width: 270px;
  }
  
  .pic3 {
    height: 390px;
    width: 270px;
  }
}